@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  --bg-color: #020617;
  --text-color: #e5e7eb;
  --accent-color: #6366f1;
  --card-bg: #020617;
  --button-radius: 9999px;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}
